{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "generators": true,
        "destructuring": true,
        "binaryLiterals": true,
        "classes": true,
        "defaultParams": true,
        "modules": true,
        "binaryLiterals": true,
        "binaryLiterals": true,
        ""
    },
    "rules": {
        "semi": 2,
        "quotes": [0, "disable"]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
