<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Messages{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/styles/app.css">
  {% if DEVELOPMENT %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</head>
<body>
  <section id="content">
    {% block content %}
      <p>Forgot to add content?</p>
      <div id="react-main-mount">
        {{ reactHTML|safe }}
      </div>
    {% endblock %}
  </section>
  <script src="/javascript/app.js"></script>
</body>
</html>
